
<%- include header %>

<ul style="list-style:none">
	<li><h3><a href="https://www.baidu.com">百度</a></h3>众里寻她千百度</li>
	<li><h3><a href="https://www.alibaba.com">阿里巴巴</a></h3>为你而来</li>
	<li><h3><a href="https://www.tencent.com">腾讯</a></h3>精彩由你</li>
</ul>
<%- include footer %>
